body {
  font-family: "Roboto", sans-serif;
  /* background: #eee; */
}
.opacity {
  background-color: rgba(255, 255, 255, 0.2);
  height: 300px;
}
.navColor {
  background-image: radial-gradient(
    circle 788px at 14.5% 19.3%,
    rgba(81, 109, 179, 1) 0%,
    rgba(178, 98, 152, 1) 100.2%
  );
}

.topNavColor {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(127, 113, 116, 1) 0.1%,
    rgba(79, 70, 72, 1) 90%
  );
}
