body {
  font-family: "Roboto", sans-serif;
  /* background: #eee; */
}

/* side navbar styling starts here  */
.sidebar {
  background: #042f4b;
  height: 100vh;
  overflow-y: auto;
}
.sidebar-btn {
  margin: 3px 0px;
  transition: all 0.4s;
  border-radius: 5px;
}
.sidebar-btn:hover {
  background-color: #6c7b95;
}
.selected {
  background-color: orange;
}
.fas-margin {
  margin-left: 20px;
  margin-right: 20px;
}

/* side navbar styling ends here  */

/* search box starts */

.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  transition: all 0.4s;
}
.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #088a97;
}
/* .search-input:hover {
  background-color: #fff;
} */

.search-button {
  border: none;
  color: #fff;
}

/* search box ends */

.h-100vh {
  height: 100vh;
}
